/* color
#9BA4A7 - SILVER
#FFB931 - YELLOW
#000000 - BLACK
#FEFEFE - WHITE
#DDDDDD - LIGTH SLIVER
*/


/* layout */

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p {
    font-size: 12px;
    padding: 10px 0;
}

.container {
    height: 100vh;
}


/* Home-page */

.Profile-name {
    font-size: 32px;
    padding: 16px 0;
}

.sub-title {
    background-color: #FFB931;
    display: inline-block;
    padding: 4px 10px;
}

.main-menu-bg {
    background-color: #FFB931;
}

.main-menu img {
    width: 100%;
    background-color: #9BA4A7;
}

.main-menu ul {
    padding: 24px 10px;
    text-align: center;
    line-height: 1.5rem;
}

.main-menu ul li a {
    text-decoration: none;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
}

.main-menu ul li.active a {
    color: #fff;
}

.btn {
    background-color: #FFB931;
    padding: 8px 14px;
    border-radius: 20px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 800;
    display: inline-block;
    color: #fff;
}

.light-bg {
    background-color: #ddd;
}

.home {
    margin: auto 0;
}

.home-text {
    padding: 16px;
}

#profile-name {
    -webkit-text-stroke: 1px #FFB931;
    color: white;
}


/* about page */

.main-text-bg {
    background-color: #ddd;
}

.main-text {
    padding: 28px 60px;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    border: 1.5px dotted gray;
    padding: 20px;
    font-weight: 900;
}

.pri-text {
    padding: 28px 14px;
}

.pri-text h2 {
    font-weight: 100;
}

.pri-text>h2>span {
    font-weight: 800;
}

.exp {
    background-color: #000;
    color: #FFB931;
    padding: 46px 20px;
    text-align: center;
}

.exp .row .col-6 {
    padding: 16px;
}

.exp h3 {
    font-size: 32px;
}

.exp p {
    color: #fff;
    font-size: 8px;
    text-transform: uppercase;
}

.exp-desc {
    padding: 0 36px;
}

.exp-desc h2 {
    padding-bottom: 16px;
    font-size: 24px;
}

.exp-desc .fa-solid {
    font-size: 54px;
    padding: 10px;
}

.exp-desc>div {
    display: flex;
}

.exp-desc>div>div {
    padding: 12px;
}

.exp-desc h4 {
    font-size: 14px;
    text-transform: uppercase;
}

.exp-desc p {
    font-size: 8px;
    text-align: justify;
}

.res-p {
    padding: 20px;
}

.res-p>.row {
    padding: 20px 0;
}

.res-p>.row>.col-4 {
    padding: 16px 10px;
}

.res-p>.row>.col-4>p {
    text-align: justify;
    line-height: 1.5;
}

.res-p h4 {
    font-size: 12px;
    font-weight: 600;
    background-color: #FFB931;
    color: #fff;
    padding: 6px;
    display: inline-block;
}

.res-p h3 {
    font-size: 14px;
    font-weight: 600;
    padding: 6px 0;
}

.contact-text {
    padding: 20px 14px;
}

.contact-text h2 {
    font-weight: 100;
}

.contact-text>h2>span {
    font-weight: 800;
}

.contact-icons {
    padding: 20px 16px;
}

.contact-icons .col-9 {
    margin-top: -20px;
}


/* testmonial page */

.testmonials {
    background-color: #000;
    padding: 4px;
    margin: 10px;
    color: #fff;
    border-radius: 20px;
}

.testmonials img {
    float: left;
}

.testmonial-text {
    padding: 16px 14px;
}

.testmonial-text h2 {
    font-size: 16px;
    color: #FFB931;
    font-weight: 800;
}

.testmonial-text>h5 {
    font-size: 10px;
}

.rating {
    padding: 10px 12px;
}

.testmonial-text p {
    text-align: justify;
}


/* portfolio */

.portfolio-menu ul {
    list-style: none;
    text-align: center;
}

.portfolio-menu .active {
    color: #FFB931;
    font-weight: 900;
}

.portfolio-menu ul li {
    display: inline-block;
    padding: 10px 12px;
    margin: 0 10px;
    font-weight: 700;
}

.portfolio-img>div {
    display: inline-block;
}

.portfolio-img img {
    width: 175px;
}


/* icons menu */

.icon-menu ul li {
    list-style-type: none;
}

.icon-menu {
    position: fixed;
    top: 42px;
    right: 10px;
}

.icon-menu ul {
    line-height: 28px;
    background-color: #FFB931;
    padding: 18px;
    border-radius: 24px;
}

.icon-menu ul li i {
    color: black;
}

.icon-menu ul li i.active {
    color: #fff;
}

.home-container>.row {
    height: 100vh;
}

.icon-menu>ul>li::after {
    content: "...";
    font-weight: 600;
    display: block;
    transform: rotate(90deg);
    margin-left: 6px;
}

.icon-menu>ul>li:nth-child(6)::after {
    content: "";
}

.main-menu>ul>li::after {
    content: "...";
    font-weight: 600;
    transform: rotate(90deg);
    display: block;
    margin-left: 6px;
}

.main-menu>ul>li:nth-child(1)::before {
    content: "...";
    font-weight: 600;
    transform: rotate(90deg);
    display: block;
    margin-left: 6px;
}

.main-menu>ul::before {
    content: "●";
    font-weight: 900;
    transform: rotate(90deg);
    display: block;
    margin-left: 2px;
    margin-bottom: -10px;
}

.main-menu>ul::after {
    content: "●";
    font-weight: 900;
    transform: rotate(90deg);
    display: block;
    margin-left: 2px;
    margin-top: -10px;
}